.container {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 400px 400px;
    display:flex;
    flex-wrap:wrap;
}

.container > div{
    position: absolute;
    background-color:#686868;
    font-size:20px;
    margin:20px;
    padding:20px;
    text-align: left;
    width:20%;
    box-sizing:border-box;
    border-style:solid;
    border-color:white;
    border-width:5px;
    margin:60px;
    height:300px;
    color:white;
}

div h3{
    text-transform: uppercase;
    font-weight: 900;
    text-align:center;
}

li {
  margin:15px;
}

#one {
  top: 8px;
  left: 54px;
 margin-left:10px;
 padding:5px;

}

#two  {
  top: 8px;
  right: 54px;
 margin-right:10px;
 padding:5px;
}

#three {
  bottom: 8px;
  left: 16px;
 margin-bottom:10px;
 padding:5px;
}

#four {
  bottom: 8px;
  right: 16px;
 margin-bottom:10px;
 margin-left:700px;
 padding:5px;
}
