/*.container {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 400px 400px;
    display:flex;
    flex-wrap:wrap;
}*/

.resizedbox{
    position: relative;
    background-color:#686868;
    font-size:20px;
    margin:20px;
    padding:8px;
    text-align: left;
    box-sizing:border-box;
    border-style:solid;
    border-color:white;
    border-width:5px;

    height:100%;
    color:white;

    /*top: 8px;
    left: 54px;
    margin-left:10px;
    margin-top:8px;
    padding:5px;*/
    width:100%;
    margin-left:2%;
}

@media (max-width: 992px) {
  .resizedbox{
      position: relative;
      background-color:#686868;
      font-size:20px;
      margin:40px;
      padding:8px;
      text-align: left;
      box-sizing:border-box;
      border-style:solid;
      border-color:white;
      border-width:5px;

      height:100%;
      color:white;
      margin-left:2%;

      /*top: 8px;
      left: 54px;
      margin-left:10px;
      margin-top:8px;
      padding:5px;*/


  }


  .col-lg{
    margin:2%;
  }

  a.return {
    position:relative;
    background-color:#686868;
    box-sizing:border-box;
    border-style:solid;
    border-color:white;
    border-width:5px;

          left:30px;
          top:3px;
    text-decoration: none;

    text-align: center;
    color: black;
    font-weight: 900;

    /* padding: 8px 16px;*/
  }
}


a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: black;
  font-weight: 900;

  /* padding: 8px 16px;*/
}

a:hover {
  background-color: white;
  color: black;
}

.return{
    position:absolute;
    background-color:#686868;
    box-sizing:border-box;
    border-style:solid;
    border-color:white;
    border-width:5px;

    left:64px;
    top:390px;

}

td.imdb{
    text-align:center;
}

td{
  margin:80px;
}
h3{
    text-align:center;
}


/*
@media (min-width: 768px) and (max-width: 991px) {
    .col-4 {
        height: 50%;
    }
}
@media (min-width: 992px) {
    .col-4 {
        height: 33%;
    }
}*/
/*
@media screen and (max-width: 900px){
      .container >div{
        font-size:18px;
        width:47.8%;
        height:320px;
      }
  }

@media screen and (max-width: 700px){
      .container >div{
        font-size:18px;
        width:47.8%;
      }
  }


@media screen and (max-width: 500px){
      .container >div{
        font-size:16px;
        width:41.8%;
      }
  }

  @media screen and (max-width: 300px){
        .container >div{
          font-size:14px;
          width:66.8%;
        }
    }
*/
